*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgba(161, 100, 223);
    }


.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}
